@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500&display=swap');

:root {
    --text-clr: #212224;
    --palette-2: rgb(155, 248, 255);
    --primary: rgb(46, 46, 46);
    --secondary: rgb(233, 233, 233);
    --white: white;
    --accent: #ff4e4e;
}

::-webkit-scrollbar {
    width: 14px;
}
  
::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: var(--primary);
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: #ffff;
}

* {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-clr);
}

p, a, li, td {
    font-size: 0.95rem;
}

.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 3rem;
}

section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header {
    padding: 4rem 0rem;
}

.btn {
    border: none;
    padding: 0.5rem 2rem;
    color: var(--text-clr);
    cursor: pointer;
}

.btn:hover {
    font-weight: bold;
}

.btn-white {
    background-color: var(--white);
    padding: 0.85rem 1rem;
    transition: all 200ms ease-in-out;
}

.btn-white:hover {
    background-color: rgb(222, 222, 222);
}

.btn-primary {
    background-color: var(--primary);
    color: white;
    transition: all 200ms ease-in-out;
}

.btn-primary:hover {
    background-color: rgb(70, 70, 70);
}

.btn-primary-outline {
    border: 1px solid var(--primary);
    color: var(--primary);
    transition: all 200ms ease-in-out;
}

.btn-primary-outline:hover {
    background-color: var(--primary);
    color: white;
}

.text-white {
    color: white;
}

a {
    text-decoration: none;
}

.cta {
    padding: 0.85rem 4rem;
}

td, th {
    padding: 0.15rem;
}

.footer {
    padding: 5rem 2rem;
    text-align: center;
    background-color: rgb(44, 44, 44);
}

/* UTILITIES */
.p-0 {
    padding: 0;
}

.p-0 {
    margin: 0;
}

.bg-primary {
    background-color: var(--primary);
}

.text-muted {
    color: #f2f2f2;
}

.text-accent {
    color: var(--accent);
}

.img-avatar {
    border-radius: 50%;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 30%);
    border: 1px solid black;
}

.ml-auto {
    margin-left: auto;
}

/* LAYOUT */
.row {  
    display: flex;
}

/* CONTACT PAGE */

.card {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.25);
    padding: 2rem;
}

input, textarea {
    padding: 0.5rem 1rem;
    border-radius: 0;
    border: 1px solid var(--primary);
}
input:focus, textarea:focus {
    outline: none !important;
}

.form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}